body {
  background-color : #000000;
}

#adsPage{
	position: relative;
	width: 880px;
	margin-left: auto ;
	margin-right: auto ;
}

#faceComments{
    position: absolute;
    top: 650px;
    width: 800px;
    margin-left: auto ;
    margin-right: auto ;
    z-index:-1;
}

#adsGame{
	position: relative;
	top: 80px; /* Top from border*/
	margin-left: auto ;
	margin-right: auto ;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*user-select: none;*/
}

#adsInformation{
    position: relative;
    top: 10px; /* Top from border*/
    float:left;
}

#gameBorder {
    position: relative;
    width: 880px;
    height: 640px;
    background:url('content/gui/game_border.png') transparent no-repeat;
    float: left;
}

#msgAuthor {
	position: absolute;
	bottom: 10px;
	right: 20px;
	text-align:left;
	z-index:0;
	font-family: 'MedievalSharp', serif;
	color : #996600;
	font-weight: bold;
}

#linkForm {
    position: absolute;
    bottom: 8px;
    right: 450px;
    text-align:left;
    z-index:0;
    font-family: 'MedievalSharp', serif;
    color : #996600;
    font-weight: bold;
}

#twitterButton {
    position: absolute;
    bottom: 8px;
    right: 340px;
    text-align:left;
    z-index:0;
    font-family: 'MedievalSharp', serif;
    color : #996600;
    font-weight: bold;
}

#msgGameName {
	position: absolute;
	top: 20px;
	left: 250px;
	z-index:0;
	font-family: 'MedievalSharp', serif;
	color : #5F4C0B;
	font-size:40px;
}

#flag_en {
	width: 40px;
	height: 20px;
	background:url('content/gui/en_flag.png') no-repeat;
	z-index:0;
	position: absolute;
	top: 42px;
	right: 40px;
}

#flag_pt {
	width: 40px;
	height: 20px;
	background:url('content/gui/pt_flag.png') no-repeat;
	z-index:0;
	position: absolute;
	top: 20px;
	right: 40px;
}

#music {
	z-index:0;
	position: absolute;
	top: 25px;
	left: 40px;
	border-style:none;
}

#sfx {
    z-index:0;
    position: absolute;
    top: 25px;
    left: 75px;
    border-style:none;
}

#fpsInfo{
	position: absolute;
	height: 50px;
	width: 200px;
	bottom: 10px;
	left: 10px;	
}

#Flattr{
    position: absolute;
    height: 20px;
    width: 110px;
    bottom: 13px;
    left: 180px;
}


#hiddenText {
	width: 530px;
	height: auto;
	display: none;
}

#messageLayer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 110px;
	background: url('content/images/dialoguebox.png') no-repeat;
	font-family: 'MedievalSharp', serif;
	display: none;
}

#messageLayer img.msgImage {
	position: absolute;
	top: 34px;
	left: 49px;
}

#messageLayer .msgText {
	position: absolute;
	top: 40px;
	left: 120px;
	width: 250px;
	height: 60px;
	color : #fff;
	overflow: hidden;
	z-index:1;
}

#messageLayer .titleText {
	position: absolute;
	top: 20px;
	left: 120px;
	width: 300px;
	height: 60px;
	color : #FFFF00;
	font-weight: bold;
	overflow: hidden;
	z-index:1;
}

.mouseLeftClick {
    width: 24px; height: 24px; 
    background-image: url('content/gui/mouse_left_click.png');
    display: block;
}



/* Question layer configuration */
#questionLayer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 366px;
	height: 308px;
	background: url('content/images/questionbox.png') no-repeat;
	font-family: 'MedievalSharp', serif;
	font-size: 14px;
	display: none;
}

#questionLayer img.qtnImage {
	position: absolute;
	top: 36px;
	left: 45px;
}

#questionLayer .itemText {
	position: absolute;
	top: 38px;
	left: 82px;
	width: 230px;
	height: 40px;
	font-weight: bold;
	color : #996600;
	overflow: hidden;
	font-size: 16px;
	z-index:1;
}

#questionLayer .questionTheme {
    position: absolute;
    top: 75px;
    left: 43px;
    width: 240px;
    height: 20px;
    font-weight: bold;
    color : #0a0abd;
    overflow: hidden;
    font-size: 16px;
    z-index:1;
}

#questionLayer .questionText {
	position: absolute;
	top: 95px;
	left: 43px;
	width: 280px;
	font-weight: bold;
	color : #0B610B;
	overflow: hidden;
	font-size: 15px;
	z-index:1;
}

#questionLayer .r1 {
	position: absolute;
	left: 50px;
	width: 275px;
	height: 20px;
	color : #4B8A08;
	overflow: hidden;
    font-size: 16px;
	z-index:1;
}

#questionLayer .r2 {
	position: absolute;
	left: 50px;
    width: 275px;
    height: 20px;
	color : #4B8A08;
	overflow: hidden;
    font-size: 16px;
	z-index:1;
}

#questionLayer .r3 {
	position: absolute;
	left: 50px;
    width: 275px;
    height: 20px;
	color : #4B8A08;
	overflow: hidden;
    font-size: 16px;
	z-index:1;
}

#questionLayer .r0 {
	position: absolute;
	left: 50px;
    width: 275px;
    height: 20px;
	color : #4B8A08;
	overflow: hidden;
    font-size: 16px;
	z-index:1;
}

#questionLayer .answerValue {
	position: absolute;
	top: 245px;
	left: 50px;
	width: 280px;
	height: 20px;
	color : #8A4B08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .answerResult {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 280px;
    height: 60px;
    color : #FF8000;
    font-size:20px;
    overflow: hidden;
    z-index:1;
}

/* Question layer configuration */
#inventoryLayer {
	position: absolute;
	top: 33px;
	right: 0px;
	width: 180px;
	height: 325px;
	padding: 0px;
	background: url('content/gui/inventory.png') no-repeat; 
	font-family: 'MedievalSharp', serif;
	display: none;
}

/* Hero image maybe */
#inventoryLayer img.invImage {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 35px;
	height: 35px;
}

/* Text inventory*/
#inventoryLayer .invText {
	position: absolute;
	top: 18px;
	left: 55px;
	color : #996600;
	font-weight: bold;
	font-size: 20px;
	overflow: hidden;
	z-index:1;
}


/* Comment inventory*/
#inventoryLayer .invSpecialItems {
	position: absolute;
	bottom: 122px;
	left: 40px;
	color : #eeecde;
	font-size: 14px;
	overflow: hidden;
	z-index:1;
}

/* Comment inventory*/
#inventoryLayer .invComment {
	position: absolute;
	bottom: 15px;
	left: 13px;
	width: 155px;
	height:34px;
	color : #B43104;
	font-weight: bold;
	font-size: 13px;
	overflow: hidden;
	z-index:1;
}

/* Slots inventory  */
#inventoryLayer #Slot01 {
    position: absolute;
    top: 73px; /* 60 + 13 */
    left: 14px;
    width: 32px;
    height: 32px;   
}

/* Slots inventory Image */
#inventoryLayer img.invSlot01 {
	position: absolute;
	/*top: 73px; 
	left: 14px;*/
	width: 32px;
	height: 32px;	
}

/* Slots inventory */
#inventoryLayer #Slot02 {
    position: absolute;
    top: 73px;
    left: 74px; /* 60 + 14 */
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot02 {
	position: absolute;
	/*top: 73px;
	left: 74px; */
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot03 {
    position: absolute;
    top: 73px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot03 {
	position: absolute;
	/*top: 73px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot04 {
    position: absolute;
    top: 133px;
    left: 14px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot04 {
	position: absolute;
	/*top: 133px;
	left: 14px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot05 {
    position: absolute;
    top: 133px;
    left: 74px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot05 {
	position: absolute;
	/*top: 133px;
	left: 74px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot06 {
    position: absolute;
    top: 133px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot06 {
	position: absolute;
	/*top: 133px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory*/
#inventoryLayer #Slot07 {
    position: absolute;
    top: 218px;
    left: 14px;
    width: 32px;
    height: 32px;
    z-index:3;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot07 {
	position: absolute;
/*	top: 218px;
	left: 14px; */
	width: 32px;
	height: 32px;
	z-index:2;
}

/* Slots inventory Image */
#inventoryLayer .textslot {
    position:absolute;
    color:white;
    font-weight:bold;
    top:4px;
    left:3px;
    z-index:3;
}

#inventoryLayer .textslotnormal {
    position:absolute;
    color:white;
    top:0px;
    left:0px;
    z-index:3;
}

/* Slots inventory */
#inventoryLayer #Slot08 {
    position: absolute;
    top: 218px;
    left: 74px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot08 {
	position: absolute;
	/*top: 218px;
	left: 74px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot09 {
    position: absolute;
    top: 218px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot09 {
	position: absolute;
	/*top: 218px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Item information layer */
#itemInfLayer {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 250px;
	height: 100px;
	padding: 10px;
	background: url('content/gui/iteminf.png') no-repeat;
	display: none;
	font-family: 'MedievalSharp', serif;
	z-index:5;
}

/* Information about item - name*/
#itemInfLayer .infName {
	position: absolute;
	top: 5px;
	left: 15px;
	color : #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	overflow: hidden;
	z-index:2;
}

/* Information about item - name*/
#itemInfLayer .infDesc {
	position: absolute;
	top: 27px;
	left: 13px;
	width: 235px;
	color : #333333;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}

/* Information about item - name*/
#itemInfLayer .infValue {
	position: absolute;
	top: 62px;
	left: 15px;
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}	
	
/* Information about item - name*/
#itemInfLayer .infUse {
	position: absolute;
	top: 79px;
	left: 15px;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}

/* Shop layer configuration */
#shopLayer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 366px;
    height: 308px;
    background: url('content/images/questionbox.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#shopLayer img.npcImage {
    position: absolute;
    top: 36px;
    left: 45px;
}

#shopLayer .shopName {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 250px;
    height: 60px;
    font-weight: bold;
    color : #996600;
    overflow: hidden;
    z-index:1;
}

#shopLayer .npcInfo {
    position: absolute;
    top: 65px;
    left: 100px;
    width: 530px;
    height: 60px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#shopLayer .goldValue {
    position: absolute;
    top: 95px;
    left: 45px;
    width: 330px;
    height: 25px;
    color : #8A4B08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy1 {
    position: absolute;
    top: 120px;
    left: 45px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy2 {
    position: absolute;
    top: 160px;
    left: 50px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy3 {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .goldAnswer {
    position: absolute;
    top: 240px;
    left: 50px;
    width: 330px;
    height: 20px;
    color : #FF8000;
    font-size:18px;
    overflow: hidden;
    z-index:1;
}

/* Shop layer configuration */

/* Question quest layer configuration */
#questionQuestLayer {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 405px;
    height: 480px;
    background: url('content/gui/parchmentquest.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#questionQuestLayer .questTitleText {
    position: absolute;
    top: 60px;
    left: 82px;
    width: 250px;
    height: 20px;
    font-size: 18px;
    color : #764F00;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer img.questHeroImage {
    position: absolute;
    top: 91px;
    left: 88px;
    width: 35px;
    height: 35px;
}

#questionQuestLayer img.questEnemyImage {
    position: absolute;
    top: 131px;
    left: 88px;
    width: 35px;
    height: 35px;
}

#questionQuestLayer img.questStarImage {
    position: absolute;
    width: 32px;
    height: 32px;
}

#questionQuestLayer .npcChallengeInfo {
    position: absolute;
    top: 190px;
    left: 60px;
    width: 300px;
    height: 80px;
    font-weight: bold;
    color : #996600;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questionToHero {
    position: absolute;
    top: 270px;
    left: 125px;
    width: 245px;
    height: 23px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questionQuestText {
    position: absolute;
    top: 180px;
    left: 60px;
    width: 300px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR1 {
    position: absolute;
    left: 85px;
    width: 280px;
    height: 20px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR2 {
    position: absolute;
    left: 85px;
    width: 280px;
    height: 20px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR3 {
    position: absolute;
    left: 85px;
    width: 280px;
    height: 20px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questSate {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 280px;
    height: 40px;
    color : #8A4B08;
    overflow: hidden;
    z-index:1;
}

/* End Question quest layer configuration */

.button {  
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');*/
    background-color:#ffc477;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 11px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');*/
    background-color:#fb9e25;
}.button:active {
    position:relative;
    top:2px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


/* Menu help option layer configuration */
#menuHelpLayer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 444px;
    height: 544px;
    background: url('content/gui/helpwindow.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#menuHelpLayer .instructionsL1 {
    position: absolute;
    top: 75px;
    left: 60px;
    width: 325px;
    height: 22px;
    font-size: 22px;
    color : #764F00;
    overflow: hidden;
    text-align: center;    
    z-index:1;
}

#menuHelpLayer .instructionsL2 {
    position: absolute;
    top: 205px;
    left: 60px;
    width: 325px;
    height: 22px;
    font-size: 22px;
    color : #764F00;
    overflow: hidden;
    text-align: center;    
    z-index:1;
}

#menuHelpLayer .imgDIVL1 {
    position: absolute;
    top: 110px;
    left: 87px;
    width: 71px;
    height: 86px;
    z-index:1;
}

#menuHelpLayer img.helpmove {
    position: absolute;
    top: 110px;
    left: 87px;
    width: 71px;
    height: 86px;
    background: url('content/gui/helpmove.png') no-repeat;
}

#menuHelpLayer .txtDIVL1 {
    position: absolute;
    top: 112px;
    left: 185px;
    width: 220px;
    height: 90px;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    z-index:1;
}


#menuHelpLayer .imghelpmoveweapons {
    position: absolute;
    top: 233px;
    left: 87px;
    width: 259px;
    height: 65px;
    z-index:1;
}

#menuHelpLayer .helpmoveweaponstext {
    position: absolute;
    top: 306px;
    left: 137px;
    width: 230px;
    height: 110px;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#menuHelpLayer .helpnext {
    position: absolute;
    bottom: 98px;
    left: 284px;
    width: 110px;
    height: 20px;
    font-size: 18px;
    color : #008000;
    overflow: hidden;
    font-weight:bold;
    z-index:1;
}


#menuHelpLayer img.helpinv {
    position: absolute;
    top: 175px;
    left: 62px;
    width: 80px;
    height: 139px;
    background: url('content/gui/helpinv.png') no-repeat;
}

#menuHelpLayer .helpinvtext {
    position: absolute;
    top: 190px;
    left: 145px;
    width: 250px;
    height: 140px;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    z-index:1;
}

/*#menuHelpLayer img.helpquestion {
    position: absolute;
    top: 91px;
    left: 62px;    
    width: 101px;
    height: 84px;
    background: url('content/gui/helpquestion.png') no-repeat;
}*/

#menuHelpLayer .helpquestiontext {
    position: absolute;
    top: 95px;
    left: 165px;
    width: 230px;
    height: 80px;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    z-index:1;
}


#menuHelpLayer .imghelpquestionsquest {
    position: absolute;
    top: 316px;
    left: 164px;    
    width: 166px;
    height: 84px;
}

#menuHelpLayer .txthelpquestionsquest {
    position: absolute;
    top: 233px;
    left: 87px;
    width: 270px;
    height: 72px;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#menuHelpLayer .helpclose {
    position: absolute;
    top: 20px;
    left: 310px;
    width: 65px;
    height: 20px;
    font-size: 15px;
    color : #008000;
    overflow: hidden;
    font-weight:bold;
    z-index:1;
}
/* End Menu Help layer configuration */


/* Menu Story option layer configuration */
#menuStoryLayer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 444px;
    height: 544px;
    background: url('content/gui/helpwindow.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#menuStoryLayer .storytitle {
    position: absolute;
    top: 65px;
    left: 75px;
    width: 280px;
    height: 22px;
    font-size: 22px;
    color: #764F00;
    overflow: hidden;
    z-index: 1;
    text-align: center;
}


#menuStoryLayer .storytext {
    position: absolute;
    top: 95px;
    left: 75px;
    width: 280px;
    height: 218px;
    font-size: 17px;
    color: #F0F0E0;
    overflow: hidden;
    z-index: 1;
    text-align: justify;
}

#menuStoryLayer .storyclose {
    position: absolute;
    top: 20px;
    left: 310px;
    width: 65px;
    height: 20px;
    font-size: 15px;
    color : #008000;
    overflow: hidden;
    font-weight:bold;
    z-index:1;
}

#menuStoryLayer .storynext {
    position: absolute;
    bottom: 200px;
    left: 240px;
    width: 130px;
    height: 20px;
    font-size: 18px;
    color : #008000;
    overflow: hidden;
    font-weight:bold;
    z-index:1;
}

#menuStoryLayer .fire {
    position: absolute;
    bottom: 194px;
    left: 67px;
    width: 26px;
    height: 57px;
 /*   border:2px solid;
    border-radius:125px;*/
    z-index:1;
    
}

#menuStoryLayer img.candlefire {
    position: absolute;
    bottom: 190px;
    left: 73px;
    width: 24px;
    height: 40px;
    z-index:2;
    
}

#menuStoryLayer .creditstext {
    position: absolute;
    top: 95px;
    left: 75px;
    font-size: 14px;
    color: #F0F0E0;
    overflow: hidden;
    z-index: 1;
    height: 218px;
    width: 280px;
    text-align: justify;
}

#menuStoryLayer .creditsLogos {
    position: absolute;
    top: 306px;
    left: 145px;
    width: 230px;
    height: 110px;
    z-index:1;
}
/* End Menu Story layer configuration */


/* Objectives option layer configuration */
#objLayer {
    position: absolute;
    bottom: 130px;
    left: 172px;
    width: 450px;
    height: 379px;
    background: url('content/gui/levelobjectives.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#objLayer .prisonersImage {
    position: absolute;
    bottom: 122px;
    left: 60px;
    width: 320px;
    height: 73px;
    z-index:1;
}

#objLayer .askHeroName {
    position: absolute;
    top: 275px;
    left: 60px;
    width: 125px;
    height: 22px;
    font-size: 22px;
    color : #764F00;
    overflow: hidden;
    text-align: left;    
    z-index:1;
}

#objLayer .lvlTileObjectives {
    position: absolute;
    top: 52px;
    left: 60px;
    width: 325px;
    height: 20px;
    font-size: 18px;
    color : #764F00;
    overflow: hidden;
    text-align: left;    
    z-index:1;
}

#objLayer .lvlTxtObjectives {
    position: absolute;
    top: 87px;
    left: 60px;
    width: 320px;
    height: 88px;
    font-family: 'MedievalSharp', serif;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#objLayer .buttonStart {
    position: absolute;
    top: 267px;
    left: 321px;
    width: 80px;
    height: 35px;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#objLayer .buttonIgnore {
    position: absolute;
    top: 305px;
    left: 321px;
    width: 80px;
    height: 35px;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#objLayer .heroName {
    position: absolute;
    top: 262px;
    left: 184px;
    width: 117px;
    height: 15px;
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#objLayer .serverResponse {
    position: absolute;
    bottom: 56px;
    left: 57px;
    width: 300px;
    color : #B43104;
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    z-index:1;
}

input[type='text'] { font-size: 20px; font-family: 'MedievalSharp', serif; color: #764F00;}
/* END Objectives option layer configuration */

/* Menu Top Scores option layer configuration */
#menuScoreLayer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 444px;
    height: 544px;
    background: url('content/gui/helpwindow.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#menuScoreLayer .instructionsL1 {
    position: absolute;
    top: 70px;
    left: 60px;
    width: 325px;
    height: 22px;
    font-size: 22px;
    color : #764F00;
    overflow: hidden;
    text-align: center;    
    z-index:1;
}

#menuScoreLayer .txtDIVL1 {
    position: absolute;
    top: 108px;
    left: 70px;
    width: 300px;
    height: 200px;
    font-size: 15px;
    color: #F0F0E0;
    overflow: hidden;
    line-height: 130%;
    z-index: 1;
}
#menuScoreLayer .playerNameHeader {
    position: absolute;
    top: 100px;
    left: 70px;
    width: 105px;
    height: 20px;
    font-size: 17px;
    overflow: hidden;
    z-index: 1;
}

#menuScoreLayer .scoreDateHeader {
    position: absolute;
    top: 100px;
    left: 180px;
    width: 100px;
    height: 20px;
    font-size: 17px;
    overflow: hidden;
    z-index: 1;
}

#menuScoreLayer .scorePointsHeader {
    position: absolute;
    top: 100px;
    left: 283px;
    width: 90px;
    height: 20px;
    font-size: 17px;
    overflow: hidden;
    z-index: 1;
}

#menuScoreLayer .playerName {
    position: absolute;
    top: 125px;
    left: 70px;
    width: 110px;
    height: 200px;
    font-size: 15px;
    overflow: hidden;
    line-height: 120%;
    z-index: 1;
}

#menuScoreLayer .scoreDate {
    position: absolute;
    top: 125px;
    left: 180px;
    width: 100px;
    height: 200px;
    font-size: 15px;
    overflow: hidden;
    line-height: 120%;
    z-index: 1;
}

#menuScoreLayer .scorePoints {
    position: absolute;
    top: 125px;
    left: 283px;
    width: 80px;
    height: 200px;
    font-size: 15px;
    overflow: hidden;
    line-height: 120%;
    text-align: right;
    z-index: 1;
}



#menuScoreLayer .scoreClose {
    position: absolute;
    top: 20px;
    left: 310px;
    width: 65px;
    height: 20px;
    font-size: 15px;
    color : #008000;
    overflow: hidden;
    font-weight:bold;
    z-index:1;
}

#menuScoreLayer .fire {
    position: absolute;
    bottom: 194px;
    left: 67px;
    width: 26px;
    height: 57px;
 /*   border:2px solid;
    border-radius:125px;*/
    z-index:1;
}

#menuScoreLayer img.candlefire {
    position: absolute;
    bottom: 190px;
    left: 73px;
    width: 24px;
    height: 40px;
    z-index:2;
    
}

#menuScoreLayer .serverResponse {
    position: absolute;
    top: 108px;
    left: 70px;
    width: 300px;
    height: 20px;
    font-size: 15px;
    color: #B43104;
    overflow: hidden;
    line-height: 130%;
    z-index: 1;    
}

#menuScoreLayer .poweredByScoreoid {
    position: absolute;
    top: 320px;
    left: 137px;
    width: 230px;
    height: 20px;
    font-size: 15px;
    color : #F0F8FF;
    overflow: hidden;
    text-align: left;
    z-index:1;
}

#menuScoreLayer .inpirationText {
    position: absolute;
    top: 350px;
    left: 137px;
    width: 230px;
    height: 110px;
    font-size: 15px;
    color : #ec4a4a;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}
/* End Menu Scores layer configuration */


/* Objectives option layer configuration */
#finishLayer {
    position: absolute;
    bottom: 130px;
    left: 172px;
    width: 450px;
    height: 379px;
    background: url('content/gui/levelobjectives.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#finishLayer .prisonersImage {
    position: absolute;
    bottom: 122px;
    left: 60px;
    width: 320px;
    height: 73px;
    z-index:1;
}

#finishLayer .thxForSaveUs {
    position: absolute;
    top: 268px;
    left: 75px;
    width: 250px;
    height: 22px;
    font-size: 14px;
    color: #764F00;
    overflow: hidden;
    text-align: left;
    z-index: 1;
}

#finishLayer .playerPosition {
    position: absolute;
    top: 295px;
    left: 75px;
    width: 250px;
    height: 22px;
    font-size: 14px;
    color: #764F00;
    overflow: hidden;
    text-align: left;
    z-index: 1;
}

#finishLayer .lvlCongratulations {
    position: absolute;
    top: 52px;
    left: 60px;
    width: 325px;
    height: 20px;
    font-size: 18px;
    color : #764F00;
    overflow: hidden;
    text-align: left;    
    z-index:1;
}

#finishLayer .lvlTxtHelpUs {
    position: absolute;
    top: 87px;
    left: 60px;
    width: 320px;
    height: 88px;
    font-family: 'MedievalSharp', serif;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#finishLayer .buttonMenu {
    position: absolute;
    top: 267px;
    left: 321px;
    width: 80px;
    height: 35px;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#finishLayer .buttonRetry {
    position: absolute;
    top: 305px;
    left: 321px;
    width: 80px;
    height: 35px;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#finishLayer .serverResponse {
    position: absolute;
    bottom: 56px;
    left: 57px;
    width: 263px;
    color : #B43104;
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    z-index:1;
}
/* END finish game layer configuration */


/* Hero Dies option layer configuration */
#heroDiesLayer {
    position: absolute;
    bottom: 130px;
    left: 172px;
    width: 450px;
    height: 379px;
    background: url('content/gui/levelobjectives.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#heroDiesLayer .prisonersImage {
    position: absolute;
    bottom: 105px;
    left: 60px;
    width: 320px;
    height: 73px;
    z-index:1;
}

#heroDiesLayer .prisonersMessage {
    position: absolute;
    top: 290px;
    left: 65px;
    width: 325px;
    height: 22px;
    font-size: 22px;
    color: #764F00;
    overflow: hidden;
    text-align: right;
    z-index: 1;
}

#heroDiesLayer .heroDiesMessage {
    position: absolute;
    top: 52px;
    left: 60px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    color : #764F00;
    overflow: hidden;
    text-align: left;    
    z-index:1;
}

#heroDiesLayer .heroDiesOption1 {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 320px;
    height: 30px;
    font-family: 'MedievalSharp', serif;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#heroDiesLayer .heroDiesOption2 {
    position: absolute;
    top: 127px;
    left: 60px;
    width: 320px;
    height: 50px;
    font-family: 'MedievalSharp', serif;
    font-size: 15px;
    color : #F0F0E0;
    overflow: hidden;
    text-align: justify;
    z-index:1;
}

#heroDiesLayer img.checkImage {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index:1;
}