#adsPage{
	position: relative;
	width: 880px;
	margin-left: auto ;
	margin-right: auto ;
}

#adsGame{
	position: relative;
	top: 80px; /* Top from border*/
	margin-left: auto ;
	margin-right: auto ;
}

#adsInformation{
    position: relative;
    top: 10 px; /* Top from border*/
    float:left;
}

#gameBorder {
    position: relative;
    width: 880px;
    height: 640px;
    background:url('content/gui/game_border.png') transparent no-repeat;
    float: left;
}

#msgAuthor {
	position: absolute;
	bottom: 10px;
	right: 20px;
	text-align:left;
	z-index:0;
	font-family: 'MedievalSharp', serif;
	color : #996600;
	font-weight: bold;
}

#msgGameName {
	position: absolute;
	top: 20px;
	left: 250px;
	z-index:0;
	font-family: 'MedievalSharp', serif;
	color : #5F4C0B;
	font-size:40px;
}

#flag_en {
	width: 40px;
	height: 20px;
	background:url('content/gui/en_flag.png') no-repeat;
	z-index:0;
	position: absolute;
	top: 42px;
	right: 40px;
}

#flag_pt {
	width: 40px;
	height: 20px;
	background:url('content/gui/pt_flag.png') no-repeat;
	z-index:0;
	position: absolute;
	top: 20px;
	right: 40px;
}

#sound {
	z-index:0;
	position: absolute;
	top: 20px;
	left: 40px;
	border-style:none;
}

#fpsInfo{
	position: absolute;
	width: 200px;
	bottom: 10px;
	left: 10px;	
}

#hiddenText {
	width: 530px;
	height: auto;
	display: none;
}

#messageLayer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 110px;
	background: url('content/images/dialoguebox.png') no-repeat;
	font-family: 'MedievalSharp', serif;
	display: none;
}

#messageLayer img.msgImage {
	position: absolute;
	top: 34px;
	left: 49px;
}

#messageLayer .msgText {
	position: absolute;
	top: 40px;
	left: 120px;
	width: 250px;
	height: 60px;
	color : #fff;
	overflow: hidden;
	z-index:1;
}

#messageLayer .titleText {
	position: absolute;
	top: 20px;
	left: 120px;
	width: 300px;
	height: 60px;
	color : #FFFF00;
	font-weight: bold;
	overflow: hidden;
	z-index:1;
}

#messageLayer .msgButton {
	position: absolute;
	top: 126px;
	left: 125px;
}

/* Question layer configuration */
#questionLayer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 366px;
	height: 308px;
	background: url('content/images/questionbox.png') no-repeat;
	font-family: 'MedievalSharp', serif;
	display: none;
}

#questionLayer img.qtnImage {
	position: absolute;
	top: 36px;
	left: 45px;
}

#questionLayer .itemText {
	position: absolute;
	top: 38px;
	left: 82px;
	width: 250px;
	height: 60px;
	font-weight: bold;
	color : #996600;
	overflow: hidden;
	z-index:1;
}

#questionLayer .questionText {
	position: absolute;
	top: 75px;
	left: 43px;
	width: 290px;
	height: 120px;
	font-weight: bold;
	color : #0B610B;
	overflow: hidden;
	z-index:1;
}

#questionLayer .r1 {
	position: absolute;
	top: 135px;
	left: 50px;
	width: 530px;
	height: 60px;
	color : #4B8A08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .r2 {
	position: absolute;
	top: 155px;
	left: 50px;
	width: 530px;
	height: 60px;
	color : #4B8A08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .r3 {
	position: absolute;
	top: 175px;
	left: 50px;
	width: 530px;
	height: 60px;
	color : #4B8A08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .r0 {
	position: absolute;
	top: 195px;
	left: 50px;
	width: 530px;
	height: 60px;
	color : #4B8A08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .answerValue {
	position: absolute;
	top: 220px;
	left: 50px;
	width: 295px;
	height: 60px;
	color : #8A4B08;
	overflow: hidden;
	z-index:1;
}

#questionLayer .answerResult {
	position: absolute;
	top: 115px;
	left: 50px;
	width: 295px;
	height: 60px;
	color : #FF8000;
	font-size:20px;
	overflow: hidden;
	z-index:1;
}

/* Question layer configuration */
#inventoryLayer {
	position: absolute;
	top: 34px;
	right: 0px;
	width: 180px;
	height: 325px;
	padding: 0px;
	background: url('content/gui/inventory.png') no-repeat; 
	font-family: 'MedievalSharp', serif;
	display: none;
}

/* Hero image maybe */
#inventoryLayer img.invImage {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 35px;
	height: 35px;
}

/* Text inventory*/
#inventoryLayer .invText {
	position: absolute;
	top: 18px;
	left: 55px;
	color : #996600;
	font-weight: bold;
	font-size: 20px;
	overflow: hidden;
	z-index:1;
}


/* Comment inventory*/
#inventoryLayer .invSpecialItems {
	position: absolute;
	bottom: 122px;
	left: 40px;
	color : #eeecde;
	font-size: 14px;
	overflow: hidden;
	z-index:1;
}

/* Comment inventory*/
#inventoryLayer .invComment {
	position: absolute;
	bottom: 15px;
	left: 13px;
	color : #FAFAFA;
	font-weight: bold;
	font-size: 13px;
	overflow: hidden;
	z-index:1;
}

/* Slots inventory  */
#inventoryLayer #Slot01 {
    position: absolute;
    top: 73px; /* 60 + 13 */
    left: 14px;
    width: 32px;
    height: 32px;   
}

/* Slots inventory Image */
#inventoryLayer img.invSlot01 {
	position: absolute;
	/*top: 73px; 
	left: 14px;*/
	width: 32px;
	height: 32px;	
}

/* Slots inventory */
#inventoryLayer #Slot02 {
    position: absolute;
    top: 73px;
    left: 74px; /* 60 + 14 */
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot02 {
	position: absolute;
	/*top: 73px;
	left: 74px; */
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot03 {
    position: absolute;
    top: 73px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot03 {
	position: absolute;
	/*top: 73px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot04 {
    position: absolute;
    top: 133px;
    left: 14px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot04 {
	position: absolute;
	/*top: 133px;
	left: 14px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot05 {
    position: absolute;
    top: 133px;
    left: 74px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot05 {
	position: absolute;
	/*top: 133px;
	left: 74px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot06 {
    position: absolute;
    top: 133px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot06 {
	position: absolute;
	/*top: 133px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory*/
#inventoryLayer #Slot07 {
    position: absolute;
    top: 218px;
    left: 14px;
    width: 32px;
    height: 32px;
    z-index:3;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot07 {
	position: absolute;
/*	top: 218px;
	left: 14px; */
	width: 32px;
	height: 32px;
	z-index:2;
}

/* Slots inventory Image */
#inventoryLayer .textslot {
    position:absolute;
    color:white;
    font-weight:bold;
    top:4px;
    left:3px;
    z-index:3;
}

/* Slots inventory */
#inventoryLayer #Slot08 {
    position: absolute;
    top: 218px;
    left: 74px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot08 {
	position: absolute;
	/*top: 218px;
	left: 74px;*/
	width: 32px;
	height: 32px;
}

/* Slots inventory */
#inventoryLayer #Slot09 {
    position: absolute;
    top: 218px;
    left: 134px;
    width: 32px;
    height: 32px;
}

/* Slots inventory Image */
#inventoryLayer img.invSlot09 {
	position: absolute;
	/*top: 218px;
	left: 134px;*/
	width: 32px;
	height: 32px;
}

/* Item information layer */
#itemInfLayer {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 250px;
	height: 100px;
	padding: 10px;
	background: url('content/gui/iteminf.png') no-repeat;
	display: none;
	font-family: 'MedievalSharp', serif;
	z-index:2;
}

/* Information about item - name*/
#itemInfLayer .infName {
	position: absolute;
	top: 5px;
	left: 15px;
	color : #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	overflow: hidden;
	z-index:2;
}

/* Information about item - name*/
#itemInfLayer .infDesc {
	position: absolute;
	top: 27px;
	left: 13px;
	width: 235px;
	color : #333333;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}

/* Information about item - name*/
#itemInfLayer .infValue {
	position: absolute;
	top: 62px;
	left: 15px;
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}	
	
/* Information about item - name*/
#itemInfLayer .infUse {
	position: absolute;
	top: 79px;
	left: 15px;
	font-size: 15px;
	overflow: hidden;
	z-index:2;
}

/* Shop layer configuration */
#shopLayer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 366px;
    height: 308px;
    background: url('content/images/questionbox.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#shopLayer img.npcImage {
    position: absolute;
    top: 36px;
    left: 45px;
}

#shopLayer .shopName {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 250px;
    height: 60px;
    font-weight: bold;
    color : #996600;
    overflow: hidden;
    z-index:1;
}

#shopLayer .npcInfo {
    position: absolute;
    top: 65px;
    left: 100px;
    width: 530px;
    height: 60px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#shopLayer .goldValue {
    position: absolute;
    top: 95px;
    left: 45px;
    width: 330px;
    height: 25px;
    color : #8A4B08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy1 {
    position: absolute;
    top: 120px;
    left: 45px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy2 {
    position: absolute;
    top: 160px;
    left: 50px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .buy3 {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 330px;
    height: 40px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#shopLayer .goldAnswer {
    position: absolute;
    top: 240px;
    left: 50px;
    width: 330px;
    height: 20px;
    color : #FF8000;
    font-size:18px;
    overflow: hidden;
    z-index:1;
}

/* Shop layer configuration */

/* Question quest layer configuration */
#questionQuestLayer {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 405px;
    height: 480px;
    background: url('content/gui/parchmentquest.png') no-repeat;
    font-family: 'MedievalSharp', serif;
    display: none;
}

#questionQuestLayer .questTitleText {
    position: absolute;
    top: 60px;
    left: 82px;
    width: 250px;
    height: 60px;
    font-size: 18px;
    color : #764F00;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer img.questHeroImage {
    position: absolute;
    top: 91px;
    left: 88px;
    width: 35px;
    height: 35px;
}

#questionQuestLayer img.questEnemyImage {
    position: absolute;
    top: 131px;
    left: 88px;
    width: 35px;
    height: 35px;
}

#questionQuestLayer img.questStarImage {
    position: absolute;
    background: url('content/gui/star_gold32.png') no-repeat;  
    border-style : none;
    width: 32px;
    height: 32px;
}

#questionQuestLayer .npcChallengeInfo {
    position: absolute;
    top: 190px;
    left: 60px;
    width: 300px;
    height: 80px;
    font-weight: bold;
    color : #996600;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questionToHero {
    position: absolute;
    top: 260px;
    left: 125px;
    width: 290px;
    height: 40px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questionQuestText {
    position: absolute;
    top: 180px;
    left: 60px;
    width: 300px;
    height: 120px;
    font-weight: bold;
    color : #0B610B;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR1 {
    position: absolute;
    top: 250px;
    left: 85px;
    width: 530px;
    height: 60px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR2 {
    position: absolute;
    top: 275px;
    left: 85px;
    width: 530px;
    height: 60px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .QuestR3 {
    position: absolute;
    top: 300px;
    left: 85px;
    width: 530px;
    height: 60px;
    color : #4B8A08;
    overflow: hidden;
    z-index:1;
}

#questionQuestLayer .questSate {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 295px;
    height: 60px;
    color : #8A4B08;
    overflow: hidden;
    z-index:1;
}

/* End Question quest layer configuration */

.button {  
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 11px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
}.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}.button:active {
    position:relative;
    top:2px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
